.vscode/**
.vscode-test/**
src/**
tests/**
tree-sitter-swift/**
tree-sitter-swift.wasm
docs/**
skills/**
node_modules/**
out/extension/extension.js.map
out/webview/preview.js.map
.gitignore
.eslintrc.json
esbuild.js
tsconfig.json
**/*.ts
**/*.map
